############################
# Unity
############################

# Unity generated folders
client/Library/
client/Temp/
client/Obj/
client/Logs/
client/UserSettings/
client/MemoryCaptures/

# Builds
client/Build/
client/Builds/

# Unity cache
client/Artifacts/
client/*.csproj
client/*.pidb
client/*.booproj
client/*.user
client/*.userprefs
client/*.suo
client/*.svd
client/*.pdb
client/*.mdb
client/*.opendb
client/*.VC.db

# Crash reports
client/*.stackdump

# Visual Studio / JetBrains IDE
client/.vs/
client/.idea/
client/*.sln

############################
# Node.js
############################

server/node_modules/
server/.env

# Logs
server/npm-debug.log*
server/yarn-debug.log*
server/yarn-error.log*

############################
# OS files
############################

# macOS
.DS_Store

# Windows
Thumbs.db
